.icon-behance {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-body {
  width: 1.6em;
  height: 1em;
  font-size: 8.7rem;
}
.icon-confirmation {
  width: 1.32em;
  height: 1em;
  font-size: 15.6rem;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  font-size: 1.0rem;
}
.icon-pinterest {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
