{% extends "layouts/_layout.html" %}

{%block content %}
<main class="main fabulous">
        <div class="banner">
            <h1 class="banner__title">
            </h1>
        </div>
        <div class="about">
            <h2 class="title wow slideInUp">Illustrations for <br>
                Fabulous Social Media <br>
                Advertising Campaign</p>
            </h2>
            <div class="describe-wrapper"><p class="describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.2s" >
            One of the most creative projects that we have done.
            We had dozens of sketches that we had to convert into attractive colorful illustrations.
            </p>
            
            <p class="describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.2s" >
            Fabulous came with their brand guidelines and vision of what they need. However, we had the creative freedom to bring our ideas and create unique illustrations for their Social Media advertising campaign. Here represented some of our favorites illustrations from this project.
            </p></div>
        </div>
        <div class="project-images">
            <img class="sketch  wow fadeInUp lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/sketch-1.jpg" data-srcset="assets/images/projects/fabulous/sketch-1@2x.jpg 2x" alt="Sketch Image">
            <div class="illustration-wrapper">
                <img class=" wow fadeInLeft lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-1.png" data-srcset="assets/images/projects/fabulous/illustration-1@2x.png 2x" alt="Illustration Image">
                <img class=" wow fadeInRight lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-2.png" data-srcset="assets/images/projects/fabulous/illustration-2@2x.png 2x" alt="Illustration Image">
            </div>
            <img class="sketch  wow fadeInUp lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/sketch-1.jpg" data-srcset="assets/images/projects/fabulous/sketch-1@2x.jpg 2x" alt="Sketch Image">
            <div class="illustration-wrapper illustration-wrapper--small">
                    <img class=" wow fadeInLeft lazy" src="assets/images/projects/fabulous/dummy-small.gif" data-src="assets/images/projects/fabulous/illustration-3.png" data-srcset="assets/images/projects/fabulous/illustration-3@2x.png 2x" alt="Illustration Image">
                    <img class=" wow fadeInRight lazy" src="assets/images/projects/fabulous/dummy-small.gif" data-src="assets/images/projects/fabulous/illustration-4.png" data-srcset="assets/images/projects/fabulous/illustration-4@2x.png 2x" alt="Illustration Image">
            </div>
            <div class="illustration-wrapper">
                    <img class=" wow fadeInLeft lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-5.png" data-srcset="assets/images/projects/fabulous/illustration-5@2x.png 2x" alt="Illustration Image">
                    <img class=" wow fadeInRight lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-6.png" data-srcset="assets/images/projects/fabulous/illustration-6@2x.png 2x" alt="Illustration Image">
                </div>
                <div class="illustration-wrapper">
                        <img class=" wow fadeInLeft lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-7.png" data-srcset="assets/images/projects/fabulous/illustration-7@2x.png 2x" alt="Illustration Image">
                        <img class=" wow fadeInRight lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-8.png" data-srcset="assets/images/projects/fabulous/illustration-8@2x.png 2x" alt="Illustration Image">
            </div>
            <img class="single-illustration wow fadeInUp lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-9.png" data-srcset="assets/images/projects/fabulous/illustration-9@2x.png 2x" alt="Illustration Image" class="single-illustration">
            <div class="illustration-wrapper">
                    <img class=" wow fadeInLeft lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-10.png" data-srcset="assets/images/projects/fabulous/illustration-10@2x.png 2x" alt="Illustration Image">
                    <img class=" wow fadeInRight lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-11.png" data-srcset="assets/images/projects/fabulous/illustration-11@2x.png 2x" alt="Illustration Image">
        </div>
        <img class="single-illustration wow fadeInUp lazy" src="assets/images/projects/fabulous/dummy-big.gif" data-src="assets/images/projects/fabulous/illustration-12.png" data-srcset="assets/images/projects/fabulous/illustration-12@2x.png 2x" alt="Illustration Image" class="single-illustration">
        <a href="/work.html" class="page-button">Back</a>
        </div>
</main>
    {% endblock %}