---
title: Project Protein  Store
html_class: project_page
---

{% extends "layouts/_layout.html" %}

{%block content %}
<main class="main protein">
        <div class="banner">
        </div>
        <div class="about">
                <h1 class="about__title wow slideInUp" >
                        ONLINE STORE <br>
                        PROTEIN.COM.UA
                </h1>
                <p class="about__describe wow fadeIn" data-wow-offset="100" >
                        It was a very ambitious project. We have managed the full-cycle of works, from the naming to web
                         wow slideInRightdevelopment and testing.
                </p>
                <p class="about__describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.3s" >
                        We expected high traffic and hundreds of goods in the store. So both the front-end and back-end
                        should have to work excellent.
                </p>
                <p class="about__describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.3s" >
                        After we find the ambitious enough name, we had a challenging case to buy the domain name from
                        the previous owner.
                </p>
                <p class="about__describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.3s" >
                        Then, we have to design a logo and concept.
                </p>
                <p class="about__describe wow fadeIn" data-wow-offset="100" data-wow-delay="0.2s" >
                        The logo icon is a protein molecule. The entire style is green and light and says that here in
                        this store you can buy healthy sports nutrition.
        </div>
        <div class="logo-concept">
                <h2 class="logo-concept__title wow slideInUp" >Logo Concept</h2>
                <div class="logo-concept__wrapper">
                        <div class="logo-concept__block wow fadeIn" data-wow-offset="100" >
                                <img class="lazy" src="assets/images/projects/protein-store/dummy-logo.gif" data-src="assets/images/projects/protein-store/logo-1.png"  data-srcset="assets/images/projects/protein-store/logo-1@2x.png 2x" alt="Logo Image">
                        </div>
                        <div class="logo-concept__block wow fadeIn" data-wow-offset="100" data-wow-delay="0.3s">
                                <img class="lazy" src="assets/images/projects/protein-store/dummy-logo.gif" data-src="assets/images/projects/protein-store/logo-2.png"  data-srcset="assets/images/projects/protein-store/logo-2@2x.png 2x" alt="Logo Image">
                        </div>
                        <div class="logo-concept__block wow fadeIn" data-wow-offset="100" data-wow-delay="0.6s">
                                <img class="lazy" src="assets/images/projects/protein-store/dummy-logo.gif" data-src="assets/images/projects/protein-store/logo-3.png"  data-srcset="assets/images/projects/protein-store/logo-3@2x.png 2x" alt="Logo Image">
                        </div>
                </div>
                <h3 class="logo-concept__logo-subtitle">
                        Protein molecule
                </h3>
                <img class="logo-concept__molecule lazy wow fadeIn" src="assets/images/projects/protein-store/dummy-long-logo.gif" data-src="assets/images/projects/protein-store/logo-4.svg"   alt="Logo Image">
        </div>

        <div class="logo">
                <h2 class="logo__title wow slideInUp" >Logo</h2>
                <img class="logo__block lazy wow fadeIn" src="assets/images/projects/protein-store/dummy-long-logo.gif" data-src="assets/images/projects/protein-store/logo-5.svg"  alt="Logo Image">
        </div>

        <div class="color-palette">
                <h2 class="color-palette__title">Color Palette
                </h2>
                <div class="color-palette__wrapper">
                        <div class="palette wow bounceInUp" data-wow-delay="0.1s">
                                <div style="background-color: #c7da44;" class="palette__color"></div>
                                <div class="palette__title">Soft yellow</div>
                                <div class="palette__hex">#c7da44</div>
                        </div>

                        <div class="palette wow bounceInUp" data-wow-delay="0.2s">
                                <div style="background-color: #fce746;" class="palette__color"></div>
                                <div class="palette__title">Bright yellow</div>
                                <div class="palette__hex">#fce746</div>
                        </div>

                        <div class="palette wow bounceInUp" data-wow-delay="0.3s">
                                <div style="background-color: #ffffff;" class="palette__color"></div>
                                <div class="palette__title">White</div>
                                <div class="palette__hex">#ffffff</div>
                        </div>

                        <div class="palette wow bounceInUp" data-wow-delay="0.4s">
                                <div style="background-color: #01c500;" class="palette__color"></div>
                                <div class="palette__title">Strong lime green</div>
                                <div class="palette__hex">#01c500</div>
                        </div>

                        <div class="palette wow bounceInUp" data-wow-delay="0.5s">
                                <div style="background-color: #4caf4e;" class="palette__color"></div>
                                <div class="palette__title">Dark lime green</div>
                                <div class="palette__hex">#4caf4e</div>
                        </div>

                </div>
                <div class="palette-lines">
                        <div class="palette-lines__block wow bounceInLeft" data-wow-offset="100" data-wow-delay="0.2s" style="background-color: #4CAF4E;"></div>
                        <div class="palette-lines__block wow bounceInRight" data-wow-offset="100" data-wow-delay="0.5s" style="background-color: #01C500;"></div>
                        <div class="palette-lines__block wow bounceInLeft" data-wow-offset="100" data-wow-delay="0.8s" style="background-color: #FFFFFF;"></div>
                        <div class="palette-lines__block wow bounceInRight" data-wow-offset="100" data-wow-delay="1.1s" style="background-color: #FCE746;"></div>
                        <div class="palette-lines__block wow bounceInLeft" data-wow-offset="100" data-wow-delay="1.3s" style="background-color: #C7DA44;"></div>
                </div>
        </div>
        <div class="website-graphics wow slideInUp">
                <h2 class="website-graphics__title" >Website Graphics</h2>
                <div class="website-graphics__wrapper">
                        <img class="lazy" src="assets/images/projects/protein-store/dummy-product.gif" data-src="assets/images/projects/protein-store/products.png"   data-srcset="assets/images/projects/protein-store/products@2x.png 2x" alt="Product Image">
                        <img class="lazy" src="assets/images/projects/protein-store/dummy-product.gif" data-src="assets/images/projects/protein-store/products-2.png"   data-srcset="assets/images/projects/protein-store/products-2@2x.png 2x" alt="Product Image">
                </div>
                <img   class="website-graphics__screen lazy " data-src="assets/images/projects/protein-store/products-3.png"  src="assets/images/projects/protein-store/dummy-product.gif" data-srcset="assets/images/projects/protein-store/products-3@2x.png 2x" alt="Product Image">
        </div>
        <div class="mobile-version">
                <h2 class="mobile-version__title wow slideInUp" >Desktop Version</h2>
                <div class="mobile-version__wrapper wow slideInUp">
                <img class="lazy" src="assets/images/projects/protein-store/dummy-mobile.gif" data-src="assets/images/projects/protein-store/screen-mobile-1.png"  src="assets/images/projects/protein-store/dummy-mobile.gif" data-srcset="assets/images/projects/protein-store/screen-mobile-1@2x.png 2x" alt="Screen Mobile Image">
                <img class="lazy" src="assets/images/projects/protein-store/dummy-mobile.gif" data-src="assets/images/projects/protein-store/screen-mobile-2.png"  src="assets/images/projects/protein-store/dummy-mobile.gif" data-srcset="assets/images/projects/protein-store/screen-mobile-2@2x.png 2x" alt="Screen Mobile Image">
                <img class="lazy" src="assets/images/projects/protein-store/dummy-mobile.gif" data-src="assets/images/projects/protein-store/screen-mobile-3.png"  src="assets/images/projects/protein-store/dummy-mobile.gif" data-srcset="assets/images/projects/protein-store/screen-mobile-3@2x.png 2x" alt="Screen Mobile Image">
                </div></div>
        <div class="desktop-version">
                <h2 class="desktop-version__title wow slideInUp">Desktop Version</h2>
                <img class="lazy wow slideInRight"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-1.png" data-srcset="assets/images/projects/protein-store/screen-desktop-1@2x.png 2x"  alt="Screen Desktop Image">
                <img class="lazy wow slideInLeft"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-2.png" data-srcset="assets/images/projects/protein-store/screen-desktop-2@2x.png 2x"  alt="Screen Desktop Image">
                <img class="lazy wow slideInRight"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-3.png" data-srcset="assets/images/projects/protein-store/screen-desktop-3@2x.png 2x"  alt="Screen Desktop Image">
                <img class="lazy wow slideInLeft"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-4.png" data-srcset="assets/images/projects/protein-store/screen-desktop-4@2x.png 2x"  alt="Screen Desktop Image">
                <img class="lazy wow slideInRight"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-5.png" data-srcset="assets/images/projects/protein-store/screen-desktop-5@2x.png 2x"  alt="Screen Desktop Image">
                <img class="lazy wow slideInLeft"   src="assets/images/projects/protein-store/dummy-desktop-product.gif" data-src="assets/images/projects/protein-store/screen-desktop-6.png" data-srcset="assets/images/projects/protein-store/screen-desktop-6@2x.png 2x"  alt="Screen Desktop Image">

        </div>
        <div class="footer-banner wow slideInUp">
                <h2 class="footer-banner__title" >Banner</h2>
                <img class="footer-banner__image lazy" src="assets/images/projects/protein-store/dummy-footer.gif" data-src="assets/images/projects/protein-store/footer-banner.png"  data-srcset="assets/images/projects/protein-store/footer-banner@2x.png 2x" alt="Banner of Shop">
        </div>
        <a href="/work.html" class="project__action">Back</a>
</main>
{% endblock %}