---
title: Project Shedules Brand
html_class: project_page
---


{% extends "layouts/_layout.html" %}

{%block content %}
<main class="main shedules">
    <div class="banner">
        <div class="banner__inner">
        </div>
        <svg class="banner__skew-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
            preserveAspectRatio="none">
            <style>
                .banner__skew-svg {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 10vw;
                }
            </style>
            <polygon fill="#d8d6d8" points="0,100 100,0 100,100" />
        </svg>
    </div>
    <div class="wrapper--desktop">
        <div class="about">
            <h1 class="about__title">Brand Guidelines for <br>
                ShedulesPro</h1>
            <p class="about__describe wow fadeIn">
                The idea of these guidelines was to create a clear neutral style, that makes the SchedulesPro app
                attractive
                for all their users.
            </p>
            <p class="about__describe wow fadeIn" data-wow-delay="0.3s">The concept of the logo is to combine all professionals and their clients who use
                the
                online booking of the
                services.</p>
            <p class="about__describe wow fadeIn" data-wow-delay="0.6s">Colors, typography and entire style had to be clear, light, attractive and modern
                as
                it is still a Start-up.
            </p>
        </div>
        <div class="logo-concept">
            <h2 class="shedules__title wow fadeIn wow fadeIn">Logo Concept</h2>
            <div class="logo-concept__wrapper">
                <img src="assets/images/projects/shedules-brand/logo-concept.svg" class="logo-concept__wrapper">

            </div>
        </div>

        <div class="logo-variation">
            <h2 class="shedules__title wow fadeIn wow fadeIn">Logo Variation</h2>
            <div class="logo-variation__grid-container wow fadeIn">
                <div class="logo-variation__logo">
                    <img src="assets/images/projects/shedules-brand/logo.svg" width="319px" height="303px">
                    <img src="assets/images/projects/shedules-brand/logo-title.svg" width="308px" height="26px">
                </div>
                <div class="logo-variation__icon">
                    <img src="assets/images/projects/shedules-brand/logo.svg" width="200px" height="200px">
                </div>
                <div class="logo-variation__wordmark">
                    <img src="assets/images/projects/shedules-brand/logo-title.svg" width="440px" height="40px">
                </div>
            </div>
        </div>

        <div class="logo-clearspace">
            <h2 class="shedules__title wow fadeIn">Logo Clearspace</h2>
            <div class="logo-clearspace__wrapper">
                <img class="logo-clearspace__logo" src="assets/images/projects/shedules-brand/logo-decorative.svg">
            </div>
        </div>

        <div class="minimum-logo-size">
            <h2 class="shedules__title wow fadeIn">Minimum Logo Size</h2>
            <div class="minimum-logo-size__row-wrapper">
                <div class="minimum-logo-size__block">
                    <div class="minimum-logo-size__svg-wrapper">
                        <img src="assets/images/projects/shedules-brand/logo.svg" alt="Logo Image" width="190px"
                            height="190px">
                        <img src="assets/images/projects/shedules-brand/logo-title.svg" alt="Logo Image" width="184px"
                            height="16px">
                    </div>
                    <h3 class="minimum-logo-size__block-title">Minimum logo size <br>
                        46x48 px</h3>
                </div>
                <div class="minimum-logo-size__block">
                    <img src="assets/images/projects/shedules-brand/logo.svg" alt="Logo Image" width="94px"
                        height="94px">
                    <h3 class="minimum-logo-size__block-title">Minimum logo size <br>
                        24x24 px</h3>
                </div>
            </div>
        </div>

        <div class="typography">
            <h2 class="shedules__title wow fadeIn">Type</h2>
            <div class="typography__grid-container">
                <div class="typography__type type type--roboto-light">
                    <div class="type__wrapper"><span class="type__title">Roboto Light</span>
                        <span class="type__char">Rr</span></div>
                    <div class="type__chars">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn <br>
                        Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz <br>
                        123456789</div>
                </div>
                <div class="typography__type type type--roboto-black">
                    <div class="type__wrapper"><span class="type__title">Roboto Black</span>
                        <span class="type__char">Rr</span></div>
                    <div class="type__chars">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn <br>
                        Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz <br>
                        123456789</div>
                </div>

                <div class="typography__texts texts">
                    <div class="texts__block "> <span class="texts__h1">Headline 1</span>
                        <span class="texts__h2">Headline 2</span>
                        <span class="texts__subheader">Subheader</span>
                        <span class="texts__title">Title</span>
                        <span class="texts__button">Button</span>
                        <span class="texts__body-1">Body 1</span>
                        <span class="texts__body-2">Body 2</span>
                        <span class="texts__caption">Caption</span>
                    </div>
                    <div class="texts__block">
                        <span class="texts__h1">Roboto Black 70 pt</span>
                        <span class="texts__h2">Roboto Black 40 pt</span>
                        <span class="texts__subheader">Roboto Light 20 pt</span>
                        <span class="texts__title">Roboto Black 16 pt</span>
                        <span class="texts__button">Roboto Black 16 pt</span>
                        <span class="texts__body-1">Roboto Light 14 pt</span>
                        <span class="texts__body-2">Roboto Light 12 pt</span>
                        <span class="texts__caption">Roboto Light 10 pt</span>
                    </div>
                </div>
            </div>
            <div class="color-palette">
                <h2 class="shedules__title wow fadeIn">COLOR PALETTE</h2>
                <div class="color-palette__wrapper">
                    <div class="color-palette__block wow slideInUp palette">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #DDE4EB;" data-wow-delay="0.1s"></td>
                                    <td style="background: #DDE4EB; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #DDE4EB; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #DDE4EB; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Light grayish blue
                            </div>
                            <div class="palette__hex">
                                #dde4eb
                            </div>
                        </div>
                    </div>

                    <div class="color-palette__block wow slideInUp palette" data-wow-delay="0.2s">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #DDE4EB;"></td>
                                    <td style="background: #DDE4EB; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #DDE4EB; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #DDE4EB; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Light grayish blue
                            </div>
                            <div class="palette__hex">
                                #dde4eb
                            </div>
                        </div>
                    </div>

                    <div class="color-palette__block wow slideInUp palette" data-wow-delay="0.3s">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #92A0DA;"></td>
                                    <td style="background: #92A0DA; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #92A0DA; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #92A0DA; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Very soft blue
                            </div>
                            <div class="palette__hex">
                                #92A0DA
                            </div>
                        </div>
                    </div>

                    <div class="color-palette__block wow slideInUp palette" data-wow-delay="0.4s">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #3e65fc;"></td>
                                    <td style="background: #3e65fc; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #3e65fc; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #3e65fc; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Bright blue
                            </div>
                            <div class="palette__hex">
                                #3e65fc
                            </div>
                        </div>
                    </div>

                    <div class="color-palette__block wow slideInUp palette" data-wow-delay="0.5s">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #54CEF4;"></td>
                                    <td style="background: #54CEF4; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #54CEF4; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #54CEF4; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Soft cyan
                            </div>
                            <div class="palette__hex">
                                #54CEF4
                            </div>
                        </div>
                    </div>

                    <div class="color-palette__block wow slideInUp palette" data-wow-delay="0.6s">
                        <div class="palette__color palette__color--dark-blue">
                            <table>
                                <tr>
                                    <td colspan="2" rowspan="3" style="background: #34A2FB;"></td>
                                    <td style="background: #34A2FB; opacity: 0.9;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #34A2FB; opacity: 0.7;"></td>
                                </tr>
                                <tr>
                                    <td style="background: #34A2FB; opacity: 0.4;"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="palette__info">
                            <div class="palette__title">
                                Bright blue
                            </div>
                            <div class="palette__hex">
                                #34A2FB
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" iconography">
                <div class="shedules__title wow fadeIn">Icon Set</div>
                <div class="iconography__wrapper wow slideInUp">
                    <div class="iconography__icon-set">
                        {{mixins.icon('accept', 'shedules-brand')}}
                        {{mixins.icon('plus-mark', 'shedules-brand')}}
                        {{mixins.icon('note', 'shedules-brand')}}
                        {{mixins.icon('question', 'shedules-brand')}}
                        {{mixins.icon('monitor', 'shedules-brand')}}
                        {{mixins.icon('settings', 'shedules-brand')}}
                        {{mixins.icon('peoples', 'shedules-brand')}}
                        {{mixins.icon('social', 'shedules-brand')}}
                        {{mixins.icon('message', 'shedules-brand')}}
                        {{mixins.icon('direction', 'shedules-brand')}}
                        {{mixins.icon('profile', 'shedules-brand')}}
                        {{mixins.icon('burger', 'shedules-brand')}}
                        {{mixins.icon('i', 'shedules-brand')}}
                        {{mixins.icon('lock', 'shedules-brand')}}
                        {{mixins.icon('bio', 'shedules-brand')}}
                        {{mixins.icon('call', 'shedules-brand')}}
                        {{mixins.icon('pie', 'shedules-brand')}}
                        {{mixins.icon('both-direction', 'shedules-brand')}}
                        {{mixins.icon('building', 'shedules-brand')}}
                        {{mixins.icon('calendar', 'shedules-brand')}}
                        {{mixins.icon('triangle-left', 'shedules-brand')}}
                        {{mixins.icon('triangle-right', 'shedules-brand')}}
                        {{mixins.icon('plus', 'shedules-brand')}}
                        {{mixins.icon('loop', 'shedules-brand')}}
                    </div>
                </div>

            </div>

            <div class="symbols">
                <h2 class="shedules__title wow fadeIn">Symbols</h2>
                <div class="symbols__wrapper">
                    <div class="symbols__buttons buttons wow slideInLeft">
                        <h3 class="buttons__title">Button</h3>
                        <div class="buttons__button-hover">Hover</div>
                        <div class="buttons__button-disabled">Disabled</div>
                        <div class="buttons__button-small">Button</div>
                        <div class="buttons__button-small">Button</div>
                        <div class="buttons__button-border">Button</div>
                        <div class="buttons__button-border-hover">Hover</div>
                    </div>
                    <div class="symbols__app-bar app-bar">
                        <h3 class="app-bar__title">App Bar</h3>
                        <img src="assets/images/projects/shedules-brand/app-bar.svg" alt="App Bar UI Image">
                        <h3 class="app-bar__title">Elements</h3>
                        <img src="assets/images/projects/shedules-brand/textarea.svg" alt="Textarea UI Image">

                        <img src="assets/images/projects/shedules-brand/body-dropdown-closed.svg"
                            alt="Dropdown Closed UI Image">
                        <img src="assets/images/projects/shedules-brand/body-dropdown.svg" alt="Dropdown UI Image">

                        <img src="assets/images/projects/shedules-brand/confirmation.svg"
                            alt="Confirmation UI ELement Image">
                    </div>
                    <div class="symbols__form-elements form-elements wow slideInRight">
                        <h3 class="form-elements__title">Paginator</h3>
                        <img src="assets/images/projects/shedules-brand/paginator.svg" alt="Paginator UI Image">
                        <h3 class="form-elements__title">Switch</h3>

                        <img src="assets/images/projects/shedules-brand/toggle-right.svg" alt="Toggle UI Image">

                        <img src="assets/images/projects/shedules-brand/toggle-left.svg" alt="Toggle UI Image">

                        <img src="assets/images/projects/shedules-brand/select.svg" alt="Toggle UI Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/work.html" class="project__action">Back</a>
</main>
{% endblock %}