---
title: Project Shedules Pro
html_class: project_page
---

{% extends "layouts/_layout.html" %}

{%block content %}
<main class="main shedules-interface">
    <div class="banner">
    </div>
        <div class="wrapper--desktop">
    <div class="about">
                <h1 class="shedules-interface__title wow fadeIn">
                        USER INTERFACE FOR  <br> SchedulesPro PWA
                </h1>
        <p class="describe wow slideInUp">After we created brand guidelines for SchedulesPro, we have started to design a user interface for the web application.</p>

        <p class="describe wow slideInUp" data-wow-delay="0.2s">We have worked on this project from scratch. So we have created wireframes for both, mobile and desktop versions. Then, we have created mockups and prototype.
            </p>

        <p class="describe wow slideInUp" data-wow-delay="0.4s">
                Designing this app, we used the concept of Mobile-First design.
        </p>
    </div>
    <div class="mobile-screens">
                <div class="mobile-screens__wrapper mobile-screens__wrapper--2 wow slideInUp">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-1.png" srcset="assets/images/projects/shedules-interface/screen-mobile-1@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-2.png" srcset="assets/images/projects/shedules-interface/screen-mobile-2@2x.png 2x">
                </div>
                <div class="mobile-screens__wrapper mobile-screens__wrapper--3 wow slideInUp">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-3.png" srcset="assets/images/projects/shedules-interface/screen-mobile-3@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-4.png" srcset="assets/images/projects/shedules-interface/screen-mobile-4@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-5.png" srcset="assets/images/projects/shedules-interface/screen-mobile-5@2x.png 2x">
                </div>

                <div class="mobile-screens__gif">

                </div>

                <div class="mobile-screens__wrapper mobile-screens__wrapper--3 wow slideInUp">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-6.png" srcset="assets/images/projects/shedules-interface/screen-mobile-6@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-7.png" srcset="assets/images/projects/shedules-interface/screen-mobile-7@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-8.png" srcset="assets/images/projects/shedules-interface/screen-mobile-8@2x.png 2x">
                </div>

                <div class="mobile-screens__wrapper mobile-screens__wrapper--2 wow slideInUp">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-9.png" srcset="assets/images/projects/shedules-interface/screen-mobile-9@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-10.png" srcset="assets/images/projects/shedules-interface/screen-mobile-10@2x.png 2x">
                </div>

                
                <div class="mobile-screens__wrapper mobile-screens__wrapper--2 wow slideInUp">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-11.png" srcset="assets/images/projects/shedules-interface/screen-mobile-11@2x.png 2x">
                    <img class="mobile-screens__block" src="assets/images/projects/shedules-interface/screen-mobile-12.png" srcset="assets/images/projects/shedules-interface/screen-mobile-12@2x.png 2x">
                </div>

                <img class="mobile-screens__calendar " src="assets/images/projects/shedules-interface/calendar-illustration.svg" alt="Decorative Image Of Calendar">
            </div>
            <div class="desktop-screens wow slideInUp">
                <h2 class="desktop-screens__title">Desktop Version</h2>
                <img class="desktop-screens__block" src="assets/images/projects/shedules-interface/screen-desktop-1.png">
                <img class="desktop-screens__block" src="assets/images/projects/shedules-interface/screen-desktop-2.png">
            </div>
        </div>
        <a href="/work.html" class="project__action">Back</a>
</main>
{% endblock %}