.icon-behance {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-dribble {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-facebook {
  width: 1.01em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-pinterest {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  font-size: 1.5rem;
}
