<svg class="decorative-cube decorative-cube-1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="98.5" height="90.88" viewBox="0 0 98.5 90.88">
    <defs>
        <linearGradient id="f49f6b21-395f-4d28-accd-f685c12296f5" x1="-63.97" y1="-118.74" x2="-5.34" y2="-177.37"
            gradientTransform="translate(57.17 173.71) rotate(6.43)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#18cef6" />
            <stop offset="0.99" stop-color="#a3fff5" />
        </linearGradient>
        <linearGradient id="ba703d92-f230-480b-858c-de30697ba431" x1="-16.09" y1="-137.32" x2="21.13" y2="-115.83"
            gradientTransform="translate(57.17 173.71) rotate(6.43)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#045a64" />
            <stop offset="0.5" stop-color="#189ad8" />
            <stop offset="0.99" stop-color="#18cef6" />
        </linearGradient>
        <linearGradient id="acffa788-8c89-4b7d-9b01-c525f8662391" x1="-63.9" y1="-134.45" x2="-5.27" y2="-75.82"
            gradientTransform="translate(57.17 173.71) rotate(6.43)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#18bbf6" />
            <stop offset="0.99" stop-color="#5acedb" />
        </linearGradient>
    </defs>
    <title>decorative-1</title>
    <g style="isolation:isolate">
        <g id="b66a7969-e884-4ae6-96bf-c8c7bbcdfeab" data-name="Layer 2">
            <g id="fbbd686a-efcc-43c6-91b2-d06f6af92aac" data-name="Home">
                <g id="aa42ed5b-bd2f-4ec0-b96f-bb6c36fabc37" data-name="object">
                    <polygon points="29.43 0.03 78.68 5.58 49.26 45.33 0 39.91 29.43 0.03"
                        fill="url(#f49f6b21-395f-4d28-accd-f685c12296f5)" />
                    <polygon points="69.07 90.88 98.5 51.01 78.68 5.58 49.26 45.33 69.07 90.88"
                        fill="url(#ba703d92-f230-480b-858c-de30697ba431)" />
                    <polygon points="19.82 85.33 69.07 90.88 49.26 45.33 0 39.91 19.82 85.33"
                        fill="url(#acffa788-8c89-4b7d-9b01-c525f8662391)" />
                    <g opacity="0.28" style="mix-blend-mode:overlay">
                        <line x1="19.82" y1="85.34" x2="49.26" y2="45.33" fill="none" stroke="#fff"
                            stroke-miterlimit="10" stroke-width="0.17" />
                        <line x1="29.43" y1="0.03" x2="49.26" y2="45.33" fill="none" stroke="#fff"
                            stroke-miterlimit="10" stroke-width="0.17" />
                        <polygon points="19.82 85.33 69.07 90.88 98.5 51.01 49.26 45.33 19.82 85.33" fill="#1e1d1e"
                            style="mix-blend-mode:color-burn" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
<svg class="decorative-cube decorative-cube-2" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="91.96" height="82.57" viewBox="0 0 91.96 82.57">
    <defs>
        <linearGradient id="ef47a734-e391-4552-940c-829eb383025c" x1="78.1" y1="135.66" x2="41.61" y2="101.25"
            gradientTransform="translate(-32.68 -91.31) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#a900fc" />
            <stop offset="0.28" stop-color="#b228fc" />
            <stop offset="0.9" stop-color="#c98cfc" />
            <stop offset="1" stop-color="#cd9dfc" />
        </linearGradient>
        <linearGradient id="fd5b577b-aa39-4d9f-9176-1d02b1dfac35" x1="77.26" y1="136.18" x2="117.13" y2="138.9"
            gradientTransform="translate(-32.68 -91.31) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#7b007f" />
            <stop offset="0.99" stop-color="#9500fc" />
        </linearGradient>
        <linearGradient id="b0e204be-0a21-4688-b6a6-369e5d844351" x1="60.52" y1="139.67" x2="56.04" y2="181.59"
            gradientTransform="translate(-32.68 -91.31) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#7600d7" />
            <stop offset="0.99" stop-color="#a900fc" />
        </linearGradient>
    </defs>
    <title>decorative-2</title>
    <g style="isolation:isolate">
        <g id="b8563c62-5114-4c56-8d2c-79e933ed9b54" data-name="Layer 2">
            <g id="ae4228d1-9290-44d5-b267-a49eb39658ac" data-name="Home">
                <g id="acad765b-9488-4a2c-900f-fb555cdd6ae6" data-name="object">
                    <polygon points="20.48 2.9 66.46 0 45.97 41.15 0 44.17 20.48 2.9"
                        fill="url(#ef47a734-e391-4552-940c-829eb383025c)" />
                    <polygon points="71.48 79.64 91.96 38.37 66.46 0 45.97 41.15 71.48 79.64"
                        fill="url(#fd5b577b-aa39-4d9f-9176-1d02b1dfac35)" />
                    <polygon points="25.5 82.54 71.48 79.64 45.97 41.15 0 44.17 25.5 82.54"
                        fill="url(#b0e204be-0a21-4688-b6a6-369e5d844351)" />
                    <g opacity="0.28" style="mix-blend-mode:overlay">
                        <line x1="25.5" y1="82.54" x2="45.97" y2="41.15" fill="none" stroke="#fff"
                            stroke-miterlimit="10" stroke-width="0.15" />
                        <line x1="20.48" y1="2.9" x2="45.97" y2="41.15" fill="none" stroke="#fff" stroke-miterlimit="10"
                            stroke-width="0.15" />
                        <polygon points="25.5 82.54 71.48 79.64 91.96 38.37 45.97 41.15 25.5 82.54" fill="#1e1d1e"
                            style="mix-blend-mode:color-burn" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
<svg class="decorative-cube decorative-cube-3" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="72.46" height="65.06" viewBox="0 0 72.46 65.06">
    <defs>
        <linearGradient id="b96aa5f1-2eee-4097-bbba-afd29e45a958" x1="62.21" y1="52.03" x2="33.46" y2="24.92"
            gradientTransform="translate(-22.97 -17.16) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#a900fc" />
            <stop offset="0.28" stop-color="#b228fc" />
            <stop offset="0.9" stop-color="#c98cfc" />
            <stop offset="1" stop-color="#cd9dfc" />
        </linearGradient>
        <linearGradient id="a56d7ea8-1ba0-4495-a457-e7745c55579f" x1="61.55" y1="52.44" x2="92.96" y2="54.59"
            gradientTransform="translate(-22.97 -17.16) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#7b007f" />
            <stop offset="0.99" stop-color="#9500fc" />
        </linearGradient>
        <linearGradient id="b474abdd-bcf9-42e5-a16d-dfc4bf547b17" x1="48.36" y1="55.19" x2="44.83" y2="88.22"
            gradientTransform="translate(-22.97 -17.16) rotate(-3.6)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#7600d7" />
            <stop offset="0.99" stop-color="#a900fc" />
        </linearGradient>
    </defs>
    <title>decorative-3</title>
    <g style="isolation:isolate">
        <g id="b9ea6640-f3f1-48a2-9b73-8c60cbb0e762" data-name="Layer 2">
            <g id="ba692769-c2dd-48fa-ae0b-00eebbc9a57e" data-name="Home">
                <g id="e53aac7d-1f2f-4e19-9b0e-74530d8c0327" data-name="object">
                    <polygon points="16.14 2.28 52.37 0 36.22 32.42 0 34.8 16.14 2.28"
                        fill="url(#b96aa5f1-2eee-4097-bbba-afd29e45a958)" />
                    <polygon points="56.32 62.75 72.46 30.23 52.37 0 36.22 32.42 56.32 62.75"
                        fill="url(#a56d7ea8-1ba0-4495-a457-e7745c55579f)" />
                    <polygon points="20.09 65.03 56.32 62.75 36.22 32.42 0 34.8 20.09 65.03"
                        fill="url(#b474abdd-bcf9-42e5-a16d-dfc4bf547b17)" />
                    <g opacity="0.28" style="mix-blend-mode:overlay">
                        <line x1="20.09" y1="65.03" x2="36.22" y2="32.42" fill="none" stroke="#fff"
                            stroke-miterlimit="10" stroke-width="0.12" />
                        <line x1="16.14" y1="2.28" x2="36.22" y2="32.42" fill="none" stroke="#fff"
                            stroke-miterlimit="10" stroke-width="0.12" />
                        <polygon points="20.09 65.03 56.32 62.75 72.46 30.23 36.22 32.42 20.09 65.03" fill="#1e1d1e"
                            style="mix-blend-mode:color-burn" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
<svg class="decorative-cube decorative-cube-4" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="77.03" height="76.27" viewBox="0 0 77.03 76.27">
    <defs>
        <linearGradient id="a9792a67-8dda-471c-b20f-35bc4e7368ba" x1="-209.32" y1="-276.72" x2="-246.99" y2="-282.69"
            gradientTransform="translate(0.75 377.27) rotate(46.07)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#00f9ca" />
            <stop offset="0.99" stop-color="#a3fff5" />
        </linearGradient>
        <linearGradient id="befb7ca2-7edb-46ff-9e05-d2b81813fea5" x1="-211.92" y1="-263.43" x2="-177.59" y2="-261.08"
            gradientTransform="translate(0.75 377.27) rotate(46.07)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#045a64" />
            <stop offset="0.5" stop-color="#00ac9a" />
            <stop offset="0.99" stop-color="#00dbc7" />
        </linearGradient>
        <linearGradient id="a50d7e15-e1f5-4c0c-a4b6-506c8b42ffef" x1="-226.33" y1="-260.42" x2="-230.19" y2="-224.32"
            gradientTransform="translate(0.75 377.27) rotate(46.07)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#00baca" />
            <stop offset="0.99" stop-color="#00f9ca" />
        </linearGradient>
    </defs>
    <title>decorative-4</title>
    <g style="isolation:isolate">
        <g id="b0b11607-e92c-4264-92f2-58cf64be0757" data-name="Layer 2">
            <g id="a1ad72a9-6260-4a11-85a7-36dd88574c73" data-name="Home">
                <g id="e84d7139-2f4b-427e-9694-d6d4a46b4c31" data-name="object">
                    <polygon points="49.5 0.02 77.03 28.59 38.6 38.07 11 9.57 49.5 0.02"
                        fill="url(#a9792a67-8dda-471c-b20f-35bc4e7368ba)" />
                    <polygon points="27.54 76.27 66.05 66.71 77.03 28.59 38.6 38.07 27.54 76.27"
                        fill="url(#befb7ca2-7edb-46ff-9e05-d2b81813fea5)" />
                    <polygon points="0.02 47.69 27.54 76.27 38.6 38.07 11 9.57 0.02 47.69"
                        fill="url(#a50d7e15-e1f5-4c0c-a4b6-506c8b42ffef)" />
                    <g opacity="0.28" style="mix-blend-mode:overlay">
                        <line x1="0.02" y1="47.7" x2="38.6" y2="38.07" fill="none" stroke="#fff" stroke-miterlimit="10"
                            stroke-width="0.13" />
                        <line x1="49.5" y1="0.02" x2="38.6" y2="38.07" fill="none" stroke="#fff" stroke-miterlimit="10"
                            stroke-width="0.13" />
                        <polygon points="0.02 47.7 27.54 76.27 66.05 66.71 38.6 38.07 0.02 47.7" fill="#1e1d1e"
                            style="mix-blend-mode:color-burn" />
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
<svg class="decorative-cube decorative-cube-5" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" width="92.45" height="87.87" viewBox="0 0 92.45 87.87">
    <defs>
        <linearGradient id="e32e80ae-b4af-49c8-9490-f58ec08b6526" x1="749.04" y1="764.27" x2="804.5" y2="708.8"
            gradientTransform="matrix(-0.64, 0.77, 0.77, 0.64, -34.63, -1046.05)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#18cef6" />
            <stop offset="0.99" stop-color="#a3fff5" />
        </linearGradient>
        <linearGradient id="b1522705-fb59-4214-a4a2-790565859331" x1="794.33" y1="746.69" x2="829.54" y2="767.02"
            gradientTransform="matrix(-0.64, 0.77, 0.77, 0.64, -34.63, -1046.05)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#045a64" />
            <stop offset="0.5" stop-color="#189ad8" />
            <stop offset="0.99" stop-color="#18cef6" />
        </linearGradient>
        <linearGradient id="f3da58d5-6cd8-4ee8-a099-604b74c16909" x1="749.1" y1="749.4" x2="804.56" y2="804.87"
            gradientTransform="matrix(-0.64, 0.77, 0.77, 0.64, -34.63, -1046.05)" gradientUnits="userSpaceOnUse">
            <stop offset="0.01" stop-color="#18bbf6" />
            <stop offset="0.99" stop-color="#5acedb" />
        </linearGradient>
    </defs>
    <title>decorative-5</title>
    <g id="bf680165-ee66-49f1-99c9-a1cce9e67c2a" data-name="Layer 2">
        <g id="a597c380-e9b6-4aa9-b820-40da20626c03" data-name="Home">
            <g id="efc4dc23-60f8-4d99-935e-6b5ee8fd9cff" data-name="object">
                <polygon points="29.87 0 0 36.13 46.13 43.86 76.1 7.8 29.87 0"
                    fill="url(#e32e80ae-b4af-49c8-9490-f58ec08b6526)" />
                <polygon points="62.58 87.87 16.35 80.07 0 36.13 46.13 43.86 62.58 87.87"
                    fill="url(#b1522705-fb59-4214-a4a2-790565859331)" />
                <polygon points="92.45 51.74 62.58 87.87 46.13 43.86 76.1 7.8 92.45 51.74"
                    fill="url(#f3da58d5-6cd8-4ee8-a099-604b74c16909)" />
            </g>
        </g>
    </g>
</svg>