<footer class="footer">
        <div class="wrapper wrapper--desktop">
        <a href="/" class="footer__logo wow flipInX">
                    <div class="footer__copyright">&#169;<span class="copyright__year">2019 </span></div>
                    <img src="assets/images/footer/logo-footer.svg" alt="Logo of the site">
            </a>
                <div class="footer__socials socials wow flipInX">
                    <span class="socials__desc">Follow us</span>
                    <ul class="socials__list">
                            {% include "./_socials.html" %}
                    </ul></div>
                </div>
</footer>