.icon-3d-visualization {
  width: 1.07em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-address {
  width: 0.97em;
  height: 1em;
  font-size: 7.7rem;
}
.icon-budget {
  width: 0.94em;
  height: 1em;
  font-size: 7.9rem;
}
.icon-building-management {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-coordination {
  width: 1.04em;
  height: 1em;
  font-size: 7.8rem;
}
.icon-cost-efficiency {
  width: 1.01em;
  height: 1em;
  font-size: 8.1rem;
}
.icon-customer-satisfaction {
  width: 1.03em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-customer-support {
  width: 1em;
  height: 1em;
  font-size: 7.5rem;
}
.icon-design-documents {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-email {
  width: 1em;
  height: 1em;
  font-size: 7.5rem;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-final-design {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-introductory-meeting {
  width: 1em;
  height: 1em;
  font-size: 7.5rem;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-measurement {
  width: 1em;
  height: 1em;
  font-size: 7.5rem;
}
.icon-personal-approach {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-phone {
  width: 1em;
  height: 1em;
  font-size: 7.9rem;
}
.icon-planning-submission {
  width: 1.05em;
  height: 1em;
  font-size: 7.3rem;
}
.icon-preliminary-design {
  width: 1em;
  height: 1em;
  font-size: 7.5rem;
}
.icon-project-managment {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-rental-plans {
  width: 1.02em;
  height: 1em;
  font-size: 7.3rem;
}
.icon-revise-drawings {
  width: 1.01em;
  height: 1em;
  font-size: 7.3rem;
}
.icon-supervision {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-teamwork {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-tender {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
.icon-twiiter {
  width: 0.74em;
  height: 1em;
  font-size: 10.1rem;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  font-size: 7.4rem;
}
