.icon-accept {
  width: 0.91em;
  height: 1em;
  font-size: 4.0rem;
}
.icon-bio {
  width: 1.13em;
  height: 1em;
  font-size: 3.2rem;
}
.icon-both-direction {
  width: 1.6em;
  height: 1em;
  font-size: 2.2rem;
}
.icon-building {
  width: 0.75em;
  height: 1em;
  font-size: 3.6rem;
}
.icon-burger {
  width: 1.14em;
  height: 1em;
  font-size: 3.1rem;
}
.icon-calendar {
  width: 0.91em;
  height: 1em;
  font-size: 4.0rem;
}
.icon-call {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-direction {
  width: 1.32em;
  height: 1em;
  font-size: 2.8rem;
}
.icon-dropdown {
  width: 1.6em;
  height: 1em;
  font-size: 8.7rem;
}
.icon-i {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-lock {
  width: 1em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-loop {
  width: 0.79em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-message {
  width: 1.29em;
  height: 1em;
  font-size: 2.8rem;
}
.icon-monitor {
  width: 1.03em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-note {
  width: 1.01em;
  height: 1em;
  font-size: 3.6rem;
}
.icon-peoples {
  width: 1.07em;
  height: 1em;
  font-size: 3.4rem;
}
.icon-phone {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-pie {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-plus-mark {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-plus {
  width: 0.91em;
  height: 1em;
  font-size: 4.0rem;
}
.icon-profile {
  width: 0.96em;
  height: 1em;
  font-size: 3.6rem;
}
.icon-question {
  width: 0.99em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-settings {
  width: 1em;
  height: 1em;
  font-size: 3.5rem;
}
.icon-social {
  width: 1.03em;
  height: 1em;
  font-size: 3.3rem;
}
.icon-triangle-left {
  width: 1em;
  height: 1em;
  font-size: 3.6rem;
}
.icon-triangle-right {
  width: 1em;
  height: 1em;
  font-size: 3.6rem;
}
